---
import QuestionnaireApp from "../components/QuestionnaireApp.svelte";
import "../styles/global.css";
import { withBasePath } from "../utils/withBasePath";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={withBasePath("favicon.svg")}
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Female Adultery Risk Calculator</title>
		<meta
			name="description"
			content="A statistical risk assessment tool based on behavioral patterns."
		/>
	</head>
	<body>
		<QuestionnaireApp client:load />
	</body>
</html>
